{% load static %}
 <!--blog area start-->
        <div class="blog_area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                       <div class="section_title title_style2">
                           <div class="title_content">
                               <h2><span>Последние</span>  статьи блога</h2>
                                <p>Свежие материалы и советы по автотоварам.</p>   
                            </div>                 
                        </div>
                      </div>
                </div>   
                <div class="row">
                    <div class="blog_container blog_column4 owl-carousel">
                        <div class="col-lg-3">
                            <article class="single_blog">
                                <figure>
                                    <div class="blog_thumb">
                                        <a href="blog-details.html"><img src="{% static 'assets/img/blog/blog1.jpg' %}" alt=""></a>
                                    </div>
                                    <figcaption class="blog_content">
                                        <h4><a href="blog-details.html">Как выбрать качественные автозапчасти</a></h4> 
                                        <div class="post_meta">
                                            <p><a href="index.html#">Автотовары</a> / 17 июля</p>
                                        </div>
                                        <div class="post_desc">
                                            <p>Полезные советы по выбору и уходу за деталями автомобиля.</p>
                                        </div>
                                        <footer class="post_readmore">
                                            <a href="blog-details.html">Читать далее</a>
                                        </footer>
                                    </figcaption>
                                </figure>
                            </article>
                        </div>
                        <div class="col-lg-3">
                            <article class="single_blog">
                                <figure>
                                    <div class="blog_thumb">
                                        <a href="blog-details.html"><img src="{% static 'assets/img/blog/blog2.jpg' %}" alt=""></a>
                                    </div>
                                    <figcaption class="blog_content">
                                        <h4><a href="blog-details.html">Топ-5 аксессуаров для комфорта в дороге</a></h4> 
                                        <div class="post_meta">
                                            <p><a href="index.html#">Автотовары</a> / 17 июля</p>
                                        </div>
                                        <div class="post_desc">
                                            <p>Полезные советы по выбору и уходу за деталями автомобиля.</p>
                                        </div>
                                        <footer class="post_readmore">
                                            <a href="blog-details.html">Читать далее</a>
                                        </footer>
                                    </figcaption>
                                </figure>
                            </article>
                        </div>
                        <div class="col-lg-3">
                            <article class="single_blog">
                                <figure>
                                    <div class="blog_thumb">
                                        <a href="blog-details.html"><img src="{% static 'assets/img/blog/blog3.jpg' %}" alt=""></a>
                                    </div>
                                    <figcaption class="blog_content">
                                        <h4><a href="blog-details.html">Когда менять фильтры и расходники</a></h4> 
                                        <div class="post_meta">
                                            <p><a href="index.html#">Автотовары</a> / 17 июля</p>
                                        </div>
                                        <div class="post_desc">
                                            <p>Полезные советы по выбору и уходу за деталями автомобиля.</p>
                                        </div>
                                        <footer class="post_readmore">
                                            <a href="blog-details.html">Читать далее</a>
                                        </footer>
                                    </figcaption>
                                </figure>
                            </article>
                        </div>
                        <div class="col-lg-3">
                            <article class="single_blog">
                                <figure>
                                    <div class="blog_thumb">
                                        <a href="blog-details.html"><img src="{% static 'assets/img/blog/blog4.jpg' %}" alt=""></a>
                                    </div>
                                    <figcaption class="blog_content">
                                        <h4><a href="blog-details.html">Как выбрать качественные автозапчасти</a></h4> 
                                        <div class="post_meta">
                                            <p><a href="index.html#">Автотовары</a> / 17 июля</p>
                                        </div>
                                        <div class="post_desc">
                                            <p>Полезные советы по выбору и уходу за деталями автомобиля.</p>
                                        </div>
                                        <footer class="post_readmore">
                                            <a href="blog-details.html">Читать далее</a>
                                        </footer>
                                    </figcaption>
                                </figure>
                            </article>
                        </div>
                        <div class="col-lg-3">
                            <article class="single_blog">
                                <figure>
                                    <div class="blog_thumb">
                                        <a href="blog-details.html"><img src="{% static 'assets/img/blog/blog2.jpg' %}" alt=""></a>
                                    </div>
                                    <figcaption class="blog_content">
                                        <h4><a href="blog-details.html">Топ-5 аксессуаров для комфорта в дороге</a></h4> 
                                        <div class="post_meta">
                                            <p><a href="index.html#">Автотовары</a> / 17 июля</p>
                                        </div>
                                        <div class="post_desc">
                                            <p>Полезные советы по выбору и уходу за деталями автомобиля.</p>
                                        </div>
                                        <footer class="post_readmore">
                                            <a href="blog-details.html">Читать далее</a>
                                        </footer>
                                    </figcaption>
                                </figure>
                            </article>
                        </div>
                    </div>
                </div>          
            </div>
        </div>
        <!--blog area end-->


