{% load static %}
<!--newsletter area start-->
<div class="newsletter_area">
    <div class="container">
        <div class="newsletter_inner">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="newsletter_container">
                        <h3>Мы в соцсетях</h3>
                        <p>Следите за нашими обновлениями и полезными советами для автомобилистов.</p>
                        <div class="footer_social">
                            <ul>
                                <li><a class="facebook" href="index.html#"><i class="icon-facebook"></i></a></li>
                                <li><a class="twitter" href="index.html#"><i class="icon-twitter2"></i></a></li>
                                <li><a class="rss" href="index.html#"><i class="icon-rss"></i></a></li>
                                <li><a class="youtube" href="index.html#"><i class="icon-youtube"></i></a></li>
                                <li><a class="google" href="index.html#"><i class="icon-google"></i></a></li>
                                <li><a class="instagram2" href="index.html#"><i class="icon-instagram2"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="newsletter_container">
                        <h3>Подписка на новости</h3>
                        <p>Подпишитесь и получайте скидки, акции и полезные материалы.</p>
                        <div class="subscribe_form">
                            <form id="mc-form" class="mc-form footer-newsletter" >
                                <input id="mc-email" type="email" autocomplete="off" placeholder="Введите ваш email..." />
                                <button id="mc-submit">Подписаться</button>
                            </form>
                            <!-- mailchimp-alerts Start -->
                            <div class="mailchimp-alerts text-centre">
                                <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                                <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                                <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                            </div><!-- mailchimp-alerts end -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7">
                    <div class="newsletter_container col_3">
                        <h3>МОБИЛЬНОЕ ПРИЛОЖЕНИЕ</h3>
                        <p>Наше приложение доступно в Google Play и App Store. Установите сейчас.</p>
                        <div class="app_img">
                            <ul>
                                <li><a href="index.html#"><img src="{% static 'assets/img/icon/icon-app.jpg' %}" alt=""></a></li>
                                <li><a href="index.html#"><img src="{% static 'assets/img/icon/icon1-app.jpg' %}" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--newsletter area end-->

<!--footer area start-->
<footer class="footer_widgets">
    <!--shipping area start-->
    <div class="shipping_area">
        <div class="container">
            <div class="shipping_inner">
                <div class="single_shipping">
                    <div class="shipping_icone">
                        <img src="{% static 'assets/img/about/shipping1.png' %}" alt="">
                    </div>
                    <div class="shipping_content">
                        <h4>Бесплатная доставка</h4>
                        <p>Для заказов от $120</p>
                    </div>
                </div>
                <div class="single_shipping">
                    <div class="shipping_icone">
                        <img src="{% static 'assets/img/about/shipping2.png' %}" alt="">
                    </div>
                    <div class="shipping_content">
                        <h4>Бесплатная доставка</h4>
                        <p>Для заказов от $120</p>
                    </div>
                </div>
                <div class="single_shipping">
                    <div class="shipping_icone">
                        <img src="{% static 'assets/img/about/shipping3.png' %}" alt="">
                    </div>
                    <div class="shipping_content">
                        <h4>Бесплатная доставка</h4>
                        <p>Для заказов от $120</p>
                    </div>
                </div>
                <div class="single_shipping">
                    <div class="shipping_icone">
                        <img src="{% static 'assets/img/about/shipping4.png' %}" alt="">
                    </div>
                    <div class="shipping_content">
                        <h4>Бесплатная доставка</h4>
                        <p>Для заказов от $120</p>
                    </div>
                </div>
                <div class="single_shipping">
                    <div class="shipping_icone">
                        <img src="{% static 'assets/img/about/shipping5.png' %}" alt="">
                    </div>
                    <div class="shipping_content">
                        <h4>Бесплатная доставка</h4>
                        <p>Для заказов от $120</p>
                    </div>
                </div>
            </div>
        </div>             
    </div>
    <!--shipping area end-->
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="widgets_container">
                        <h3>КОНТАКТЫ</h3>
                        <div class="footer_contact">
                            <div class="footer_contact_inner">
                                <div class="contact_icone">
                                    <img src="{% static 'assets/img/icon/icon-phone.png' %}" alt="">
                                </div>
                                <div class="contact_text">
                                    <p>Горячая линия 24/7: <br> <strong><a href="tel:0123456789">0123456789</a> </strong></p>
                                </div>
                            </div>
                            <p>Мы помогаем подобрать качественные автозапчасти и аксессуары для вашего авто.</p>
                            <p>Наш адрес: <br> demo@example.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="footer_col_container">
                        <div class="widgets_container widget_menu">
                            <h3>Информация</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="about.html">О нас</a></li>
                                    <li><a href="index.html#">Информация о доставке</a></li>
                                    <li><a href="index.html#">Новые товары</a></li>
                                    <li><a href="index.html#">Лучшие предложения</a></li>
                                    <li><a href="my-account.html">Личный кабинет</a></li>
                                    <li><a href="index.html#">История заказов</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="widgets_container widget_menu">
                            <h3>Сервис</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="my-account.html">Личный кабинет</a></li>
                                    <li><a href="cart.html">Корзина</a></li>
                                    <li><a href="wishlist.html">Избранное</a></li>
                                    <li><a href="index.html#">Снижение цен</a></li>
                                    <li><a href="index.html#">История заказов</a></li>
                                    <li><a href="index.html#">Международные заказы</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="widgets_container widget_menu">
                            <h3>Личный кабинет</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="index.html#">Карта сайта</a></li>
                                    <li><a href="my-account.html">Личный кабинет</a></li>
                                    <li><a href="index.html#">Информация о доставке</a></li>
                                    <li><a href="index.html#">История заказов</a></li>
                                    <li><a href="wishlist.html">Избранное</a></li>
                                    <li><a href="index.html#">Акции</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="widgets_container widget_menu">
                            <h3>Дополнительно</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="index.html#">Бренды</a></li>
                                    <li><a href="index.html#">Подарочные сертификаты</a></li>
                                    <li><a href="index.html#">Партнерская программа</a></li>
                                    <li><a href="index.html#">Акции</a></li>
                                    <li><a href="wishlist.html">Избранное</a></li>
                                    <li><a href="index.html#">Рассылка</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="widgets_container widget_menu">
                            <h3>Оплата и доставка</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="index.html#">Способы оплаты</a></li>
                                    <li><a href="my-account.html">Личный кабинет</a></li>
                                    <li><a href="index.html#">Смотреть все акции</a></li>
                                    <li><a href="index.html#">Регионы доставки</a></li>
                                    <li><a href="index.html#">Вопросы и ответы</a></li>
                                    <li><a href="index.html#">Сроки доставки</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="copyright_area">
                        <p>&copy; 2022 <a href="index.html#" class="text-uppercase">MAZLAY</a>. Сделано с <i class="fa fa-heart"></i> от <a target="_blank" href="https://www.hasthemes.com">HasThemes</a></p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="footer_payment text-right">
                        <img src="{% static 'assets/img/icon/payment.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>   
</footer>
<!--footer area end-->

<!-- modal area start-->
<div class="modal fade" id="modal_box" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal_body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <div class="modal_tab">  
                                <div class="tab-content product-details-large">
                                    <div class="tab-pane fade show active" id="tab1" role="tabpanel" >
                                        <div class="modal_tab_img">
                                            <a href="index.html#"><img src="{% static 'assets/img/product/productbig1.jpg' %}" alt=""></a>    
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab2" role="tabpanel">
                                        <div class="modal_tab_img">
                                            <a href="index.html#"><img src="{% static 'assets/img/product/productbig2.jpg' %}" alt=""></a>    
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab3" role="tabpanel">
                                        <div class="modal_tab_img">
                                            <a href="index.html#"><img src="{% static 'assets/img/product/productbig3.jpg' %}" alt=""></a>    
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab4" role="tabpanel">
                                        <div class="modal_tab_img">
                                            <a href="index.html#"><img src="{% static 'assets/img/product/productbig4.jpg' %}" alt=""></a>    
                                        </div>
                                    </div>
                                </div>
                                <div class="modal_tab_button">    
                                    <ul class="nav product_navactive owl-carousel" role="tablist">
                                        <li >
                                            <a class="nav-link active" data-bs-toggle="tab" href="index.html#tab1" role="tab" aria-controls="tab1" aria-selected="false"><img src="{% static 'assets/img/product/product2.jpg' %}" alt=""></a>
                                        </li>
                                        <li>
                                                <a class="nav-link" data-bs-toggle="tab" href="index.html#tab2" role="tab" aria-controls="tab2" aria-selected="false"><img src="{% static 'assets/img/product/product6.jpg' %}" alt=""></a>
                                        </li>
                                        <li>
                                            <a class="nav-link button_three" data-bs-toggle="tab" href="index.html#tab3" role="tab" aria-controls="tab3" aria-selected="false"><img src="{% static 'assets/img/product/product9.jpg' %}" alt=""></a>
                                        </li>
                                        <li>
                                            <a class="nav-link" data-bs-toggle="tab" href="index.html#tab4" role="tab" aria-controls="tab4" aria-selected="false"><img src="{% static 'assets/img/product/product3.jpg' %}" alt=""></a>
                                        </li>

                                    </ul>
                                </div>    
                            </div>  
                        </div> 
                        <div class="col-lg-7 col-md-7 col-sm-12">
                            <div class="modal_right">
                                <div class="modal_title mb-10">
                                    <h2>Надежная автодеталь для вашего авто</h2> 
                                </div>
                                <div class="modal_price mb-10">
                                    <span class="new_price">$64.99</span>    
                                    <span class="old_price" >$78.99</span>    
                                </div>
                                <div class="modal_description mb-15">
                                    <p>Качественная запчасть с отличными характеристиками и долгим сроком службы. Подходит для ежедневной эксплуатации и комфортной езды.</p>    
                                </div> 
                                <div class="variants_selects">
                                    <div class="variants_size">
                                        <h2>Размер</h2>
                                        <select class="select_option">
                                            <option selected value="1">S</option>
                                            <option value="1">m</option>
                                            <option value="1">l</option>
                                            <option value="1">xl</option>
                                            <option value="1">xxl</option>
                                        </select>
                                    </div>
                                    <div class="variants_color">
                                        <h2>Цвет</h2>
                                        <select class="select_option">
                                            <option selected value="1">Фиолетовый</option>
                                            <option value="1">Лиловый</option>
                                            <option value="1">Черный</option>
                                            <option value="1">Розовый</option>
                                            <option value="1">Оранжевый</option>
                                        </select>
                                    </div>
                                    <div class="modal_add_to_cart">
                                        <form action="index.html#">
                                            <input min="1" max="100" step="1" value="1" type="number">
                                            <button type="submit">В корзину</button>
                                        </form>
                                    </div>   
                                </div>
                                <div class="modal_social">
                                    <h2>Поделиться товаром</h2>
                                    <ul>
                                        <li class="facebook"><a href="index.html#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="twitter"><a href="index.html#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="pinterest"><a href="index.html#"><i class="fa fa-pinterest"></i></a></li>
                                        <li class="google-plus"><a href="index.html#"><i class="fa fa-google-plus"></i></a></li>
                                        <li class="linkedin"><a href="index.html#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>    
                                </div>      
                            </div>    
                        </div>    
                    </div>     
                </div>
            </div>    
        </div>
    </div>
</div>
<!-- modal area end-->

<!--news letter popup start-->
    <div class="newletter-popup">
    <div id="boxes" class="newletter-container">
        <div id="dialog" class="window">
            <div id="popup2">
                <span class="b-close"><span>закрыть</span></span>
            </div>
            <div class="box">
                <div class="newletter-title">
                    <h2>Рассылка</h2>
                </div>
                <div class="box-content newleter-content">
                    <label class="newletter-label">Введите email, чтобы получать уведомления о новых товарах и акциях.</label>
                    <div id="frm_subscribe">
                        <form name="subscribe" id="subscribe_popup">
                                <!-- <span class="required">*</span><span>Введите ваш email...</span>-->
                                <input type="text" value="" name="subscribe_pemail" id="subscribe_pemail" placeholder="Введите ваш email...">
                                <input type="hidden" value="" name="subscribe_pname" id="subscribe_pname">
                                <div id="notification"></div>
                                <a class="theme-btn-outlined" onclick="email_subscribepopup()"><span>Подписаться</span></a>
                        </form>
                        <div class="subscribe-bottom">
                            <input type="checkbox" id="newsletter_popup_dont_show_again">
                            <label for="newsletter_popup_dont_show_again">Больше не показывать это окно</label>
                        </div>
                    </div>
                    <!-- /#frm_subscribe -->
                </div>
                <!-- /.box-content -->
            </div>
        </div>

    </div>
    <!-- /.box -->
</div>
<!--news letter popup start-->


