{% load static %}
<!--header area start-->

<!--offcanvas menu area start-->
<div class="off_canvars_overlay">
            
</div>
<div class="offcanvas_menu">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="canvas_open">
                    <a href="javascript:void(0)"><i class="ion-navicon"></i></a>
                </div>
                <div class="offcanvas_menu_wrapper">
                    <div class="canvas_close">
                            <a href="javascript:void(0)"><i class="ion-android-close"></i></a>  
                    </div>
                    <div class="call_support">
                        <p><i class="icon-phone-call" aria-hidden="true"></i> <span>Позвоните: <a href="tel:0123456789">0123456789</a></span></p>

                    </div>
                    <div class="header_account">
                        <ul>
                            <li class="language"><a href="index.html#"><img src="{% static 'assets/img/logo/language.png' %}" alt=""> русский <i class="ion-chevron-down"></i></a>
                                <ul class="dropdown_language">
                                    <li><a href="index.html#">Английский</a></li>
                                    <li><a href="index.html#">Немецкий</a></li>
                                    <li><a href="index.html#">Японский</a></li>
                                </ul>
                            </li>
                            <li class="currency"><a href="index.html#">USD <i class="ion-chevron-down"></i></a>
                                <ul class="dropdown_currency">
                                    <li><a href="index.html#">EUR — Евро</a></li>
                                    <li><a href="index.html#">GBP — Британский фунт</a></li>
                                    <li><a href="index.html#">INR — Индийская рупия</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="header_top_links">
                        <ul>
                            {% if request.user.is_authenticated %}
                                <li><a href="{% url "profile" %}">Кабинет</a></li>
                                <li><a href="{% url "logout" %}">Выйти</a></li>
                            {% else %}                           
                                <li><a href="{% url "register" %}">Регистрация</a></li>
                                <li><a href="{% url "login" %}">Вход</a></li>
                            {% endif %}    
                        </ul>
                    </div> 
                    <div class="search_container">
                        <form action="{% url "search" %}" method="get">
                            <div class="search_box">
                                <input placeholder="Поиск товара..." name="q" type="text">
                                <button type="submit">Поиск</button> 
                            </div>
                        </form>
                    </div> 
                    <div id="menu" class="text-left ">
                        <ul class="offcanvas_main_menu">
                            <li class="menu-item-has-children active">
                                <a href="{% url "home" %}">Главная</a></li>
                            <li class="menu-item-has-children">
                                <a href="{% url "about" %}">О нас</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="{% url "contact" %}"> Контакты</a> 
                            </li>
                        </ul>
                    </div>
                    <div class="offcanvas_footer">
                        <span><a href="mailto:info@yourdomain.com"><i class="fa fa-envelope-o"></i> info@yourdomain.com</a></span>
                        <ul>
                            <li class="facebook"><a href="index.html#"><i class="fa fa-facebook"></i></a></li>
                            <li class="twitter"><a href="index.html#"><i class="fa fa-twitter"></i></a></li>
                            <li class="pinterest"><a href="index.html#"><i class="fa fa-pinterest-p"></i></a></li>
                            <li class="google-plus"><a href="index.html#"><i class="fa fa-google-plus"></i></a></li>
                            <li class="linkedin"><a href="index.html#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--offcanvas menu area end-->

<header>
    <div class="main_header">
        <!--header top start-->
        <div class="header_top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-5">
                        <div class="header_account">
                            <ul>
                                <li class="language"><a href="index.html#"><img src="{% static 'assets/img/logo/language.png' %}" alt=""> русский <i class="ion-chevron-down"></i></a>
                                    <ul class="dropdown_language">
                                        <li><a href="index.html#">Английский</a></li>
                                        <li><a href="index.html#">Немецкий</a></li>
                                        <li><a href="index.html#">Японский</a></li>
                                    </ul>
                                </li>
                                <li class="currency"><a href="index.html#">USD <i class="ion-chevron-down"></i></a>
                                    <ul class="dropdown_currency">
                                        <li><a href="index.html#">EUR — Евро</a></li>
                                        <li><a href="index.html#">GBP — Британский фунт</a></li>
                                        <li><a href="index.html#">INR — Индийская рупия</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-7">
                        <div class="header_top_links text-right">
                            <ul>
                                {% if request.user.is_authenticated %}
                                    <li><a href="{% url "profile" %}">Кабинет</a></li>
                                    <li><a href="{% url "logout" %}">Выйти</a></li>
                                {% else %}                           
                                    <li><a href="{% url "register" %}">Регистрация</a></li>
                                    <li><a href="{% url "login" %}">Вход</a></li>
                                {% endif %}   
                            </ul>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
        <!--header top start-->

        <!--header middel start-->
        <div class="header_middle">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                        <div class="logo">
                            <a href="{% url "home" %}"><img src="{% static 'assets/img/logo/logo.png' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-6 col-sm-6 col-6">
                        <div class="header_right_box">
                            <div class="search_container">
                                <form action="{% url "search" %}" method="get">
                                    <div class="hover_category">
                                        <select class="select_option" name="select" id="categori2">
                                            <option selected value="1">Все категории</option>
                                            <option value="2">Аксессуары</option>
                                            <option value="3">Аксессуары и другое</option>
                                            <option value="4">Масла и жидкости</option>
                                            <option value="5">Камеры и видео </option>
                                            <option value="6">Мониторы</option>
                                            <option value="7">Планшеты</option>
                                            <option value="8">Ноутбуки</option>
                                            <option value="9">Сумки</option>
                                            <option value="10">Наушники и акустика</option>
                                            <option value="11">Автохимия</option>
                                            <option value="12">Расходники</option>
                                            <option value="13">Магазин</option>
                                            <option value="14">Ноутбуки и ПК</option>
                                            <option value="15">Часы</option>
                                            <option value="16">Электроника</option>
                                        </select>                        
                                    </div>
                                    <div class="search_box">
                                        <input placeholder="Поиск товара..." name="q" type="text">
                                        <button type="submit">Поиск</button> 
                                    </div>
                                </form>
                            </div>
                            <div class="header_configure_area">
                                <div class="header_wishlist">
                                    <a href="{% url "wishlist" %}">
                                        <i class="icon-heart"></i>
                                        {% if wishlist.total_items > 0 %}
                                        <span class="wishlist_count">{{wishlist.total_items}}</span>
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="mini_cart_wrapper">
                                    <a href="javascript:void(0)">
                                        <i class="icon-shopping-bag2"></i>
                                        <span class="cart_price">${{ cart.total_price }} <i class="ion-ios-arrow-down"></i></span>
                                        <span class="cart_count">{{ cart.total_quantity }}</span>
                                    </a>
                                    <!--mini cart-->
                                    <div class="mini_cart">
                                        <div class="mini_cart_inner">
                                            <div class="cart_close">
                                                <div class="cart_text">
                                                    <h3>Корзина</h3>
                                                </div>
                                                <div class="mini_cart_close">
                                                    <a href="javascript:void(0)"><i class="icon-x"></i></a>
                                                </div>
                                            </div>
                                            <div class="cart_item">
                                                <div class="cart_img">
                                                    <a href="index.html#"><img src="{% static 'assets/img/s-product/product.jpg' %}" alt=""></a>
                                                </div>
                                                <div class="cart_info">
                                                    <a href="index.html#">Товар в корзине</a>
                                                    <p>Кол-во: 1 X <span> $60.00 </span></p>    
                                                </div>
                                                <div class="cart_remove">
                                                    <a href="index.html#"><i class="ion-android-close"></i></a>
                                                </div>
                                            </div>
                                            <div class="cart_item">
                                                <div class="cart_img">
                                                    <a href="index.html#"><img src="{% static 'assets/img/s-product/product2.jpg' %}" alt=""></a>
                                                </div>
                                                <div class="cart_info">
                                                    <a href="index.html#">Выбранный товар</a>
                                                        <p>Кол-во: 1 X <span> $60.00 </span></p>    
                                                </div>
                                                <div class="cart_remove">
                                                    <a href="index.html#"><i class="ion-android-close"></i></a>
                                                </div>
                                            </div>
                                            
                                            <div class="mini_cart_table">
                                                <div class="cart_total">
                                                    <span>Подытог:</span>
                                                    <span class="price">${{ cart.total_price }}</span>
                                                </div>
                                                <div class="cart_total mt-10">
                                                    <span>Итого:</span>
                                                    <span class="price">${{ cart.total_price }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mini_cart_footer">
                                            <div class="cart_button">
                                                <a href="{% url "cart_detail" %}">Открыть корзину</a>
                                            </div>
                                            <div class="cart_button">
                                                <a class="active" href="{% url "cart_detail" %}">Оформить заказ</a>
                                            </div>

                                        </div>
                                    </div>
                                    <!--mini cart end-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--header middel end-->

        <!--header bottom satrt-->
        <div class="header_bottom sticky-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class=" col-lg-3">
                        <div class="categories_menu">
                            <div class="categories_title">
                                <h2 class="categori_toggle">Все категории</h2>
                            </div>
                            <div class="categories_menu_toggle">
                                <ul>  
                                    <li class="menu_item_children"><a href="index.html#"> Турбосистема <i class="fa fa-angle-right"></i></a>
                                        <ul class="categories_mega_menu column_2">
                                            <li class="menu_item_children"><a href="index.html#">Ремкомплекты</a>
                                                <ul class="categorie_sub_menu">
                                                    <li><a href="index.html">Кузов</a></li>
                                                    <li><a href="index.html">Электрика</a></li>
                                                    <li><a href="index.html">Автоаксессуары </a></li>
                                                    <li><a href="index.html">Дополнительные товары</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu_item_children"><a href="index.html#">Электроника</a>
                                                <ul class="categorie_sub_menu">
                                                    <li><a href="index.html">Устройства для салона</a></li>
                                                    <li><a href="index.html">Навигация и мультимедиа</a></li>
                                                    <li><a href="index.html">Комфорт в салоне</a></li>
                                                    <li><a href="index.html">Развлечения в дороге</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    {% for cat in categories %}
                                    <li><a href="{% url 'category_detail' cat.slug %}">{{cat.name}} </a></li>
                                    {% endfor %}
                                    <li class="hidden"><a href="https://htmldemo.net/mazlay/mazlay/shop-left-sidebar.html">Новые товары</a></li>
                                    <li class="hidden"><a href="https://htmldemo.net/mazlay/mazlay/shop-left-sidebar.html">Лучшие предложения</a></li>
                                    <li><a href="index.html#" id="more-btn"><i class="fa fa-plus" aria-hidden="true"></i> Больше категорий</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="main_menu menu_position text-left"> 
                            <nav>  
                                <ul>
                                    <li><a class="active"  href="{% url "home" %}">Главная</a>
                                    </li>
                                    <li><a href="{% url "about" %}">О нас</a></li>
                                    <li><a href="{% url "contact" %}"> Контакты</a></li>
                                </ul>  
                            </nav> 
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="call_support text-right">
                            <p><i class="icon-phone-call" aria-hidden="true"></i> <span>Позвоните:  <a href="tel:0123456789">0123456789</a></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--header bottom end-->
    </div> 
</header>
<!--header area end-->
<!--top tags area start-->
<div class="top_tags_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="tags_content">
                    <ul>
                        <li><span>Самые популярные:</span></li>
                        {% for brand in Бренды %}
                        <li>
                            <a href="{% url 'search' %}?q={{ brand.name|urlencode }}">
                                {% if brand.logo %}
                                <img width='30px' src='{{brand.logo.url}}'>
                                {% endif %}
                                {{brand.name}}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--top tags area end-->
 

