{% load static %}
<!--slider area start-->
{% if sliders %}
<section class="slider_section mb-80">
    <div class="slider_area slider_carousel owl-carousel">
        {% for slide in sliders %}
        <div class="single_slider d-flex align-items-center" data-bgimg="{{ slide.image.url }}">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="slider_content{% if slide.text_align == 'center' %} center{% endif %}">
                            <h1>{{ slide.title }}{% if slide.subtitle %} <span>{{ slide.subtitle }}</span>{% endif %}</h1>
                            {% if slide.description %}<p>{{ slide.description }}</p>{% endif %}
                            {% if slide.button_text %}
                            <a class="button" href="{{ slide.button_link|default:'#' }}">{{ slide.button_text }} <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% else %}
<section class="slider_section mb-80">
    <div class="slider_area slider_carousel owl-carousel">
        <div class="single_slider d-flex align-items-center" data-bgimg="{% static 'assets/img/slider/slider1.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="slider_content">
                            <h1>Большая распродажа <span>автоаксессуаров</span></h1>
                            <p>Специальное предложение: -30% на этой неделе</p>
                            <a class="button" href="shop.html">Купить сейчас <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center" data-bgimg="{% static 'assets/img/slider/slider2.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="slider_content center">
                            <h1>Аксессуары <span>для всех типов автомобилей</span></h1>
                            <p>Специальное предложение: -30% на этой неделе</p>
                            <a class="button" href="shop.html">Купить сейчас <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center" data-bgimg="{% static 'assets/img/slider/slider3.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="slider_content">
                            <h1>Премиум <span>новинки для салона авто</span> </h1>
                            <p>Специальное предложение: -20% на этой неделе</p>
                            <a class="button" href="shop.html">Купить сейчас <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
<!--slider area end-->



