{% load static %}
    <!--banner area start-->
    <div class="banner_area mb-80">
        <div class="container">
           <div class="row">
               <div class="col-12">
                   <div class="welcome_title">
                       <h3>ДОБРО ПОЖАЛОВАТЬ В MAZLAY</h3>
                       <h2>СПЕЦИАЛИЗИРОВАННЫЙ <span>ОНЛАЙН-МАГАЗИН</span></h2>
                       <p>Качественные автотовары для ежедневного комфорта и надежности.</p>
                   </div>
               </div>
           </div>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <figure class="single_banner">
                        <div class="banner_thumb">
                            <a href="shop.html"><img src="{% static 'assets/img/bg/banner1.jpg' %}" alt=""></a>
                        </div>
                    </figure>
                </div>
                <div class="col-lg-4 col-md-4">
                    <figure class="single_banner">
                        <div class="banner_thumb">
                            <a href="shop.html"><img src="{% static 'assets/img/bg/banner2.jpg' %}" alt=""></a>
                        </div>
                    </figure>
                </div>
                <div class="col-lg-4 col-md-4">
                    <figure class="single_banner">
                        <div class="banner_thumb">
                            <a href="shop.html"><img src="{% static 'assets/img/bg/banner3.jpg' %}" alt=""></a>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <!--banner area end-->
    
    <!--Categories product area start-->
    <div class="categories_product_area mb-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="categories_product_inner categories_column7 owl-carousel">
                <div class="single_categories_product">
                    <div class="categories_product_thumb">
                        <a href="shop.html"><img src="{% static 'assets/img/s-product/category1.jpg' %}" alt=""></a>
                    </div>
                    <div class="categories_product_content">
                        <h4><a href="shop.html"> Кузовные детали</a></h4>
                    </div>
                </div>
                <div class="single_categories_product">
                    <div class="categories_product_thumb">
                        <a href="shop.html"><img src="{% static 'assets/img/s-product/category2.jpg' %}" alt=""></a>
                    </div>
                    <div class="categories_product_content">
                        <h4><a href="shop.html"> Двигатель</a></h4>
                    </div>
                </div>
                <div class="single_categories_product">
                    <div class="categories_product_thumb">
                        <a href="shop.html"><img src="{% static 'assets/img/s-product/category3.jpg' %}" alt=""></a>
                    </div>
                    <div class="categories_product_content">
                        <h4><a href="shop.html"> Интерьер</a></h4>
                    </div>
                </div>
                <div class="single_categories_product">
                    <div class="categories_product_thumb">
                        <a href="shop.html"><img src="{% static 'assets/img/s-product/category4.jpg' %}" alt=""></a>
                    </div>
                    <div class="categories_product_content">
                        <h4><a href="shop.html"> Свет и лампы</a></h4>
                    </div>
                </div>
                <div class="single_categories_product">
                    <div class="categories_product_thumb">
                        <a href="shop.html"><img src="{% static 'assets/img/s-product/category5.jpg' %}" alt=""></a>
                    </div>
                    <div class="categories_product_content">
                        <h4><a href="shop.html"> Детали ремонта</a></h4>
                    </div>
                </div>
                <div class="single_categories_product">
                    <div class="categories_product_thumb">
                        <a href="shop.html"><img src="{% static 'assets/img/s-product/category6.jpg' %}" alt=""></a>
                    </div>
                    <div class="categories_product_content">
                        <h4><a href="shop.html"> Умные устройства</a></h4>
                    </div>
                </div>
                <div class="single_categories_product">
                    <div class="categories_product_thumb">
                        <a href="shop.html"><img src="{% static 'assets/img/s-product/category7.jpg' %}" alt=""></a>
                    </div>
                    <div class="categories_product_content">
                        <h4><a href="shop.html"> Колеса и шины</a></h4>
                    </div>
                </div>
                <div class="single_categories_product">
                    <div class="categories_product_thumb">
                        <a href="shop.html"><img src="{% static 'assets/img/s-product/category3.jpg' %}" alt=""></a>
                    </div>
                    <div class="categories_product_content">
                        <h4><a href="shop.html"> Умные устройства</a></h4>
                    </div>
                </div>
            </div>
                </div>
            </div>
        </div>
    </div>
    <!--Categories product area end-->


